@font-face {
    font-family: 'nimbus';
    src: url('nimbus-sans-l_regular-webfont.woff2')
}

@font-face {
    font-family: 'nimbus';
    src: url('nimbus-sans-l_regular-condensed-italic-webfont.woff2');
    font-weight: normal;
    font-style: italic;
}

/*RESET DEFAULT STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: blue;
    color: #FF4C00;
}

::-moz-selection {
    background: blue;
    color: #FF4C00;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🐛</text></svg>") 16 16, auto;
    /*!emojicursor.app*/


}

.moving-circle {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: linear-gradient(90deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 100%);
    position: absolute;
    transition: transform 0.1s ease-in-out;
}

.left-side .top-text,
.left-side .bottom-text {
    font-family: "nimbus", sans-serif;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}

.left-side .top-text p,
.left-side .bottom-text p {
    font-size: 27.1px;
}

.left-side a {
    color: inherit;
    text-decoration: none;
}

.left-side a:hover {
    color: blue;
}


.right-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    background-color: black;
    padding: 20px;
    overflow-y: auto;
}

.right-top-section {
    position: relative;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 22px;
    /* border: 2px solid red; */
}

.slideshow-project {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
}

.slideshow-project img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.slideshow-project.active {
    display: block;
    justify-content: center;
    align-items: center;
}

.right-bottom-section {
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.project-title {
    font-family: nimbus;
    font-style: normal;
    font-size: 25px;
    color: white;
    line-height: 45px;
    cursor: n-resize;
}

.title-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-text:hover {
    color: greenyellow;
}


.line {
    width: 100%;
    height: 3.5px;
    background-color: white;
}

.right-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👉</text></svg>") 16 16, auto;
    /*!emojicursor.app*/
}

.about-me {
    font-family: nimbus;
    font-size: 15px;
    color: white;
    padding-top: 20px;
    max-width: 50%;
}

body .about-me p::selection {
    background: black;
    color: greenyellow;
}

body .about-me p::-moz-selection {
    background: black;
    color: greenyellow;
}

.left-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👈</text></svg>") 16 16, auto;
    /*!emojicursor.app*/
}